<%- include("./layout/header") %>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

  * {
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: transparent;
  }
  #wrapper {
    display: flex;
    justify-items: center;
    align-items: start;
    padding: 8px;
    max-width: fit-content;
  }
  .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-image: url("<%- img %>");
  }
  .chat-bubble {
    margin-left: 8px;
    padding: 12px 16px;
    border-radius: 16px;
    border: none;
    position: relative;
    background-color: <%= bgColor %>;
    min-width: 240px;
    max-width: 240px;
    box-sizing: border-box;
  }
  .chat-name {
    font-weight: bold;
    margin-bottom: 6px;
    color: orange;
    font-size: 1.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .chat-msg {
    margin-bottom: 12px;
    color: <%= textColor %>;
    font-size: 2rem;
  }
</style>

<div id="wrapper">
  <div class="avatar"></div>
  <div class="chat-bubble">
    <p class="chat-name"><%= name %></p>
    <p class="chat-msg"><%= msg %></p>
  </div>
</div>

<%- include("./layout/footer") %>
